body {
	font-family: sans-serif;
}

#content {
  width: 400px;
  margin: 0 auto;
}

#call {
	width: 300px;
	background-color: #cfcfcf;
	border: 3px double white;
	text-align: center;
	padding: 6px 3px;
}

.hidden {
  display: none;
}